<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAo0XIlkfc3g-rLxFSWS_iWGIe00x3LfE0</string>
	<key>GCM_SENDER_ID</key>
	<string>1009780613631</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bakeryUserApp</string>
	<key>PROJECT_ID</key>
	<string>authentication-91936</string>
	<key>STORAGE_BUCKET</key>
	<string>authentication-91936.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009780613631:ios:2a7475194f2b10c44e07ca</string>
</dict>
</plist>